html, body, #root, #root, #app {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4em;
    width: 100%;
    background: #f3f3f3;
    align-items: center;
}


nav * {
    height: 100%;
}

#home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
    font-size: 0.9em;
    text-decoration: none;
    color: #444444;
}

#home-link:visited {
    color: #444444;
}

#logout {
    font-family: inherit;
    font-size: 0.9em;
    margin-right: 1.5em;
    border: none;
    background-color: inherit;
    color: #444444;
}

#logout:hover {
    cursor: pointer;
    color: rgb(0, 119, 255);
}


main {
    min-height: calc(100vh - 4em);
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 0.9em;
    color: #444444;
}

#new-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90ch;
    width: 100%;
    border-radius: 6px;
    margin-top: 5em;
    margin-bottom: 5em;
}

.input-group {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
}

#form-inputs {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 90%;
}

.user-input {
    font-family: inherit;
    font-size: 1em;
    margin-top: 0.3em;
    /* border-radius: 4px; */
    padding: 5px;
    max-width: 100%;
    width: calc(100% - 10px);
    /* border: 1px solid #ffffff; */
    border: none;
    border-bottom: 3px solid #bbbbbb;
    /* background-color: #ebebeb; */
}

.user-input:focus {
    border-bottom: 3px solid #87a2c3;
}
.ingredient-list {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#directions {
    margin-top: 5px;
    margin-bottom: 5px;
}

.direction-input, .ingredient-input {
    /* width: calc(100% - 5em); */
    width: calc(100%);
    display: inline-flex;
}

.direction-input > input {
    font-family: inherit;
    font-size: 1em;
    padding: 5px;
    max-width: 100%;
    width: calc(100% - 10px);
    border: none;
}

.ingredient-input > .ingredient {
    font-family: inherit;
    font-size: 1em;
    padding: 5px;
    max-width: 80%;
    width: calc(100% - 10px);
    border: none;
}


.ingredient-amount {
    border: none;
    border-left: solid 1px #bbbbbb;
    font-family: inherit;
    font-size: 1em;
    padding: 5px;
    max-width: 20%;
    width: 100%;
}

.list-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    padding-top: 4px;
    padding-bottom: 4px;
}
.drag-item {
    border: 1px solid #afafaf;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    width: calc(100% - 5em - 2px);
}
.draggable-icon {
    font-size: 1.5em;
    color: #8a8a8a;
    max-width: 5em;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.draggable-icon > i {
    margin-left: 1.7em;
}

.draggable-icon:hover {
    cursor: grab;
}

.draggable-icon:active {
    /* border: solid 2px #f3f3f3; */
    cursor: grabbing;
}

.add-new-input {
    font-family: inherit;
    font-size: 1em;
    max-width: 9em;
    width: 100%;
    max-height: 3em;
    height: 100%;
    border: none;
    color: #363636;
    border-radius: 5px;
    background-color: #bbbbbb;
}

.remove-input {
    background-color: #a32b1b;
}

.remove-input-wrapper {
    display: inline-flex;
    max-width: 5em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.remove-input-button {
    font-size: 1em;
    /* width: 3em; */
    border: none;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0;
}
.remove-input-button:hover {
    color: red;
}
.remove-input-button:disabled {
    color: rgb(207, 207, 207);
}

ul {
    padding: 0;
    list-style-type: none;
}

textarea {
    resize: vertical;
}

#image-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center */
    align-items: center;
}
#image-input-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#image-input-button > div {
    margin-left: 1em;
    color: #363636;
}

.image-input-button {
    width: 9em;
    height: 3em;
    font-family: inherit;
    text-align: center;
    font-size: 1em;
    background-color: #bbbbbb;
    border: none;
    color: #363636;
    border-radius: 5px;
}

#remove-image {
    margin-top: 1.3em;
    background-color: #a32b1b;
    color: white;
}
#remove-image:hover {
    background-color: #df1e05;
}

#invalid-image {
    font-size: 0.8em;
    color: red;
}

#remove-invalid-image {
    background-color: #a32b1b;
    color: white;
    font-family: inherit;
    font-size: 1em;
    max-width: 9em;
    width: 100%;
    max-height: 3em;
    height: 100%;
    border: none;
    border-radius: 5px
}
#remove-invalid-image:hover {
    background-color: #df1e05;
}

.image-input-button:hover, .add-new-input:hover {
    background-color: #838383;
}

#image-name {
    border: none;
    text-align: center;
}

#user-image {
    max-width: 15em;
    height: auto;
    /* align-self: center; */
}

#submit-button {
    font-family: inherit;
    font-size: 1em;
    max-width: 10em;
    width: 100%;
    height: 3em;
    color: white;
    background-color: #1ba327;
    font-size: 1.35em;
    /* border: 1px solid #777777; */
    border: none;
    border-radius: 4px;
    align-self: center;
}
#submit-button:hover {
    background-color: #16751e;
}

#no-ingredients-or-directions-error {
    font-size: 0.8em;
    color: red;
}

#submit-button:active {
    position: relative;
    top: 1px;
    right: 1px;
}

@media screen and (max-width: 700px) {
    #new-recipe {
        width: 90%;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .list-item {
        display: flex;
        justify-content: space-between;
    }
    .drag-item {
        width: calc(100% - 2.5em);
        justify-content: space-between;
    }
    .draggable-icon {
        font-size: 1em;
        color: #8a8a8a;
        max-width: 3em;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .draggable-icon > i {
        margin-left: 0em;
    }
    .ingredient-input {
        width: calc(100% - 6em);
    }
    .ingredient-amount {
        width: 100%;
        max-width: 7ch;
    }
    .direction-input {
        width: calc(100% - 3em);
    }
    .remove-input-wrapper {
        max-width: 2em;
    }
    .add-new-input {
        max-width: 9em;
        font-size: 0.9em;
    }
    .image-input-button {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 701px) and (max-width: 1199px) {
    #new-recipe {
        width: 95%;
    }
}