html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 100%;
    /* background-color: #d6d1b1; */
}

nav * {
    height: 100%;
}

#logout-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 6em;
    margin-right: 2em;
}

#logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #777777;
    background-color: inherit;
    font-family: inherit;
    font-size: 1em;
    text-decoration: none;
    width: 6em;
    height: 2.3em;
    border-radius: 3px;
}
#logout:visited {
    color: #363636;
}
#logout:hover {
    cursor: pointer;
    /* color: #0a46b6; */
    border: 2px solid #f1db5d;
}

#reshipi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    background-color: inherit;
    font-family: inherit;
    font-size: 1em;
    text-decoration: none;
    color: #292929;
}
#reshipi:visited {
    color: #292929;
}
#reshipi:hover {
    color: #3463bb;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    /* background-image: linear-gradient(to left, #ff9267, #ffa791); */
    /* background-color: #eef5db; */
    /* background-color: #ee9480; */
    /* background-image: url(/images/abstract-antique-backdrop-background-129731.jpg); */
    background-position: center;
    opacity: 0.9;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.6em;
}

#search-and-new-recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
    /* background-color: #ffb888; */
    /* border-bottom: solid 1px #e9e9e9; */
}
#search {
    width: 100%;
    margin-left: 1em;
    height: 2em;
}
#search > input {
    font-size: 1.1em;
    max-width: 30ch;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#new-recipe {
    width: 8em;
    height: 3em;
    border: none;
    background-color: #36a051;
    color: white;
    font-size: 1em;
    margin-right: 1em;
    border-radius: 5px;
}
#new-recipe:hover {
    background-color: #057521;
}

.all-recipes {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    grid-gap: 2em;
    margin-bottom: 3em;
}

.recipe-wrapper {
    font-size: 0.8em;

    min-width: 10em;
    max-width: 30em;
    width: 100%;

    min-height: 15em;
    max-height: 40em;
    height: 100%;

    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;

    /* padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em; */

    /* border-radius: 4px; */
    background-color: #e7e7e7;
    /* box-shadow: -4px 4px 15px 0px #8f8f8f; */
}

.recipe-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3.5em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: inherit;
}
.recipe-title-wrapper > h3 {
    font-family: "Open sans", sans-serif;
    font-weight: 500;
}

.recipe-menu-button-wrapper {
    height: 100%;
    background-color: inherit;
}
.recipe-menu {
    width: 2em;
    height: 100%;
    border: none;
    font-size: 1.3em;
    color: #363636;
    background-color: inherit;
    padding-left: 0;
    padding-right: 0;
    border-radius: 2px;
}
.recipe-menu:active {
    background-color: #f3f3f3;
}

.recipe-dropdown {
    position: relative;
    display: inline-block;
}

.recipe-buttons {
    position: absolute;
    right: 0;
    left: auto;
    min-width: 10em;
    z-index: 1;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ffffff;
}

.dropdown-button {
    font-size: 1.4em;
    min-height: 2.5em;
    border: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
}
.dropdown-button:hover {
    background-color: #e9e9e9;
}

.description {
    font-family: inherit;
    font-size: 1.1em;
    min-height: 4em;
    max-height: 6em;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    margin-right: 1em;
    margin-left: 1em;
}

.recipe-image {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

/* #submit-button {
    font-family: inherit;
    font-size: 1em;
    width: 100%;
    height: 3em;
    color: white;
    background-color: #1f9b3e;
    font-size: 1.35em;
    border: 1px solid #777777;
    border-radius: 4px;
}

#submit-button:active {
    position: relative;
    top: 1px;
    right: 1px;
} */

#submit-button:hover {
    background-color: #17772f;
}

@media all and (max-width: 700px) {

    main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    #main-information {
        width: 100%;
    }

    #sign-up-wrapper {
        width: 100%;
    }

    .all-recipes {
        width: 100%;
        min-height: 100vh;
        margin-bottom: 3em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
        grid-gap: 2.5em;
    }

    .recipe-wrapper {
    font-size: 0.8em;
    min-width: 10em;
    max-width: 25em;
    width: 100%;
    min-height: 10em;
    max-height: 25em;
    height: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
    }
}


@media all and (min-width: 701px) {


    main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    #main-information {
        width: 60%;
    }

    #sign-up-wrapper {
        width: 50%;
        min-height: 50vh;
    }
    #sign-up {
        height: 100%;
    }
}

@media all and (min-width: 1200px) {


    main {
        display: flex;
        min-height: 100vh;
        width: 100%;
    }
    #main-information {
        width: 70%;
    }

    #sign-up-wrapper {
        width: 30%;
    }
}