html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4em;
    width: 100%;
    background: #f3f3f3;
}

nav * {
    height: 100%;
}

#reshipi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}

main {
    display: flex;
    min-height: calc(100vh - 4em);
    width: 100%;
    background-color: #227ac2;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.6em;
}

#submit-button {
    font-family: inherit;
    font-size: 1em;
    width: 100%;
    height: 3em;
    color: white;
    background-color: #1f9b3e;
    font-size: 1.35em;
    border: 1px solid #777777;
    border-radius: 4px;
}

#submit-button:active {
    position: relative;
    top: 1px;
    right: 1px;
}

#submit-button:hover {
    background-color: #17772f;
}

@media all and (max-width: 1200px) {

    main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
    }

    #signin-wrapper {
        width: 50%;
    }
}


@media all and (max-width: 700px) {


    main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    #main-information {
        width: 100%;
    }

    #sign-up-wrapper {
        width: 100%;
    }
}


@media all and (min-width: 701px) {


    main {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }
    #main-information {
        width: 60%;
    }

    #sign-up-wrapper {
        width: 50%;
        min-height: 50vh;
    }
    #sign-up {
        height: 100%;
    }
}

@media all and (min-width: 1200px) {


    main {
        display: flex;
        min-height: 100vh;
        width: 100%;
    }
    #main-information {
        width: 70%;
    }

    #sign-up-wrapper {
        width: 30%;
    }
}